header{
    @media(max-width:$sm){
        padding: $paddingsm;
    }
    display: flex;
    flex-direction: column;
    padding: $padding;
    position: relative;
    color: $light;
    
   
    
        
    &::before{
        @media (max-width:$md){
            display: none;
        }
        background-color: $dark;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
        content: '';
    }
    &::after{
        @media(max-width:$md){
            width: 100%;
           
            
        }
        background: url('../assets/Image.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
        content: '';
    }
    
    .main{
        @media(max-width: $sm){
            flex-direction: column;

        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        .logo{
            line-height: 0.3;
            &>:last-child{
                font-family:'Courier New', Courier, monospace;
            }
        }
   
        .menu{
            display: flex;
            gap: 1rem;
            text-transform: uppercase;
            p{
               cursor: pointer;
               &:hover{
                color: $dark;
               }
            }
        } 
    }
    .hero{
        @media(max-width: $md){
            flex-direction: column-reverse;
           justify-content: center;
           align-items: center;
            text-align: center;
            
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        position: relative;
        width: fit-content;
        height: fit-content;

        .arrows{
            @media(max-width:$md){
                flex-direction: row;
                align-items: center;
            }
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            flex: 0.8;
          
            img{
                max-height: 30px;
                max-width: 30px;
            }
            &>:nth-child(1),&>:nth-child(5){
                cursor: pointer;
            }
            &>:nth-child(2), &>:nth-child(3),&>:nth-child(4){
                @media(max-width:$md){
                    padding-top: 0;
                }
                height: 3px;
                width: 3px;
                padding-left: 15px;
                padding-top: 5px;
               
            }
        }
        .hero-img{
            @media(max-width:$md){
                position: unset;
                min-width: 80%;
                max-height: 50%;
            }
            max-width: 100%;
            max-height: 600px;
            left: 25px;
            margin-top: 55px;
            position: absolute;
            
            
        }
        
        .hero-text{
            @media(max-width: $md){
                padding: 0;
                flex: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
            padding: 40px;
            flex: 1.2;
            &>:first-child{
                font-size: 64px;
                font-weight: normal;
                
            }
            .shop-now{
                @extend .hover;
                 
                display: flex;
                gap: 1rem;
                align-items: center;
                color:map-get($map: $textColor, $key:light );
                background: $light;
                padding: 0.1rem 4rem;
                width: fit-content;
            }
        }
    }
}